:root {
    /*COLORES*/
    --bk-principal: #f0f2f5;
    --bk-blanco: #FFF;
    --bk-secundario: #5177ab;
    --fuente-gral: #252b35;
    /*MEDIDAS*/
    --DT-max-width: 1440px;
    --DT--width: 80%
}

body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: var(--bk-principal);
    font-family: 'Raleway';
    color: var(--fuente-gral);
    line-height: 1.1;


    h1 {
        font-size: 48px;
        font-weight: bold;
    }

    h2 {
        font-size: 40px;
        font-weight: bold;
    }

    h3 {
        font-size: 22px;
        font-weight: bold;
    }

    h4 {
        font-size: 22px;
        font-weight: bold;
    }

    h5 {
        font-size: 32px;
    }

    a {
        color: var(--color-links);
    }
}

/*                                                   MAIN*/
main {
    width: var(--DT--width);
    margin: 10px auto;
    display: flex;
    flex-direction: column;
}

/*                                                   TITLE*/
.title_container {
    width: 100%;
    max-width: var(--DT-max-width);
    margin: 40px auto;
    display: flex;
    justify-content: space-between;

}

.left {
    width: 60%;
    margin: 60px 15px 0 0;
    display: flex;
    flex-direction: column;
}

.title__subsection {
    margin: 85px 0 11px;
}

.title__network {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    gap: 20px;
}

.title__network__item a:hover {
    font-size: larger;
    transition: 0.3s;
}

.title__network__item a:not(:hover) {
    font-size: smaller;
    transition: 0.3s;
}

.right {
    width: 30%;
}

.title__profile {
    aspect-ratio: 1/1;
    width: 330px;
    border-radius: 50%;
    box-shadow: 5px 5px 20px #c6d4e7;
}

/*                                                   HEADER*/
.header_container {
    display: flex;
    height: 40px;
    width: 100vw;
    justify-content: space-around;
    padding: 20px 0px 0px;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 5px 5px rgba(81, 119, 171, 0.5);
}

.header-menu {
    display: flex;
    gap: 10px;
}

.menu__list {
    display: flex;
    flex-direction: row;
    gap: 10px;

}

nav a:hover {
    font-weight: bold;
    font-size: large;
    transition: 0.3s;
}

nav a:not(hover) {
    font-size: small;
    transition: 0.3s;
}

/*                                                          ABOUT*/
.about {
    align-self: center;
    width: 100vw;
    display: flex;
    align-items: center;
}

.about_bk {
    width: 100%;
    background-color: var(--bk-secundario);
    display: flex;
    justify-content: center;
}

.about__container {
    width: var(--DT--width);
    max-width: var(--DT-max-width);
    padding: 20px 0 0;
    display: flex;
    flex-direction: column;
}

.about__title {
    padding: 0 0 0 50px;
}

.about__paragraph {

    font-size: 20px;
    margin: 6px 0;
}

.about__signature {
    width: 115px;
    position: relative;
    top: -5px;
    right: -90%;
}



/*                                                SKILLS & hobbies*/
.boxs {
    align-self: center;
    width: 100%;
    background-color: var(--bk-principal);
}

.boxs__container {
    max-width: var(--DT-max-width);
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.boxs__title {
    padding: 0 0 10px 50px;

}

.boxs__line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 20px;
}

.boxs__box {
    display: flex;
    align-items: end;
    width: 150px;
    height: 150px;
    background-color: var(--bk-blanco);
    box-shadow: 3px 3px 10px 2px #c6d4e7;
}

.boxs__img img {
    aspect-ratio: 3/4;
    width: 40px;
}

.boxs ul {
    padding: 10px;
}




/*                                              ACADEMIC*/
.academic {
    align-self: center;
    width: 100vw;
    display: flex;
    align-items: center;
}

.academic_bk {
    width: 100%;
    background-color: var(--bk-secundario);
    display: flex;
    justify-content: center;
}

.academic__container {
    width: var(--DT--width);
    max-width: var(--DT-max-width);
    padding: 20px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.academic__title {
    padding: 0 0 0 50px;
}

.academic__line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 20px;
}

.academic__box {
    font-size: 20px;
    margin: 5px 0;
}

.academic__box__item__img {
    width: 300px;
    height: 180px;
    background: var(--bk-blanco);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}




/*                                                   PROYECTOS*/
.experience {
    align-self: center;
    width: 100%;
    background-color: var(--bk-principal);
}

.experience__container {
    max-width: var(--DT-max-width);
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.experience__title {
    margin: 0 0 10px 15%;
}

.experience__text {
    margin: 0 0 10px 7px;
}

.experiencie__line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 20px;
}

.experience__box {
    width: 415px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--bk-blanco);
    box-shadow: 3px 3px 10px 2px #c6d4e7;
}

.experience__img {
    width: 400px;
    height: 300px;
    margin: 10px auto 15px;
    box-shadow: 0px 0px 2px 1px #c6d4e7;
}


.experience__info h4 {

    text-align: center;
    font-size: 1.3vw;
    margin: 0 2px 2px;
}

.experience__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button__repo,
.button__demo {
    margin: 10px 0;
    padding: 12px 60px;
    font-weight: bolder;
    transition: 1s;

    &:active {
        font-size: larger;
    }
}

.button__repo {
    color: var(--bk-principal);
    background-color: var(--bk-secundario);

    &:hover {
        color: var(--bk-secundario);
        background-color: #a5b6cc;
        box-shadow: inset 0px 0px 5px 1px var(--bk-secundario);
    }
}

.button__demo {
    color: var(--bk-secundario);
    background-color: #a5b6cc;

    &:hover {
        color: var(--bk-principal);
        background-color: var(--bk-secundario);
        box-shadow: inset 0px 0px 5px 1px #a5b6cc;
    }
}


/*                                                  CONTACTO*/

.contacto {
    width: 100vw;
    background-color: var(--bk-secundario);
    padding: 40px 0px;
    margin-bottom: 5px;
    align-self: center;


}

.formcontacto__container {
    max-width: var(--DT-max-width);
    width: var(--DT--width);
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.formcontacto__izquierda {
    width: 40%;
    align-items: center;
}

.formcontacto__img {
    min-width: 207px;
    max-width: 415px;
    height: 600px;
    max-height: 600px;
    min-height: 300px;
    object-fit: cover;
    opacity: 0.8;
    border-radius: 7px;
    box-shadow: 1px 1px 6px 0px;

}


.formcontacto__derecha {

    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formcontacto__form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formcontacto__input,
.formcontacto__textarea {
    outline: none;
    border-radius: 7px;
    box-shadow: 0px 1px 0.5px;
    padding: 5px 0 0 8px;

    &:focus {
        box-shadow: 0px 2px 0.5px rgb(29, 79, 145);
    }
}

.formcontacto__input {
    height: 2.5em;
}

.formcontacto__textarea {
    resize: none;
}

.formcontacto__boton {
    border-radius: 7px;
    font-weight: bolder;
    cursor: pointer;
    padding: 10px 150px;
    color: var(--bk-secundario);
    background-color: #a5b6cc;

    &:hover {
        transition: 0.9s;
        color: #a5b6cc;
        background-color: var(--bk-secundario);
        box-shadow: inset 1px 1px 5px 1px #6a95d3;
    }

    &:active {
        transition: 0.3s;
        font-size: larger;
    }
}

.error {
    font-size: 80%;
    padding: 0;
    color: rgb(165, 36, 36);
    text-shadow: 1px 1px 5px rgb(236, 186, 186);
    font-weight: bold;
}

/*                                                   FOOTER*/
footer {
    width: 100vw;
    height: 90px;
    padding: 10px 0px 5px;
    background-color: var(--color-de-fondo);
    box-shadow: 0 0 5px 5px rgba(81, 119, 171, 0.5);
}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px
}

.footer__imagen {
    width: 50px;
}

.footer__imagen:hover {
    transition: 1s all;
    transform: scale(1.1) rotate(-1deg)
}

.footer__imagen:not(hover) {
    transition: 1s;
    transform: scale(1) rotate(1deg)
}

.footer__nombre {
    font-size: 12px;
    font-weight: bold;
}


/*                                                      MEDIA QUERY*/

@media (max-width: 768px) {
    :root {
        --DT--width: 90%;
    }

    body {
        h1 {
            font-size: 28px;
            font-weight: bold;
        }

        h2 {
            font-size: 28px;
            font-weight: bold;
        }

        h3 {
            font-size: 28px;
            font-weight: bold;
        }

        h4 {
            font-size: 18px;
            font-weight: bold;
        }

        h5 {
            font-size: 22px;
        }
    }


    /*                                                   MENU*/
    .menu__list__item:nth-child(1),
    .menu__list__item:nth-child(2),
    .menu__list__item:nth-child(3),
    .menu__list__item:nth-child(4),
    .menu__list__item:nth-child(5) {
        display: none;
    }

    /*                                                   MAIN*/

    /*                                                   TITLE*/
    .title__subsection {
        margin: 35px 0 11px;
    }

    .title__profile {
        width: 200px;

    }


    /*                                                          ABOUT*/
    .about__signature {
        width: 100px;
        right: -80%;
    }

    /*                                                SKILLS & hobbies*/
    .boxs__container {
        margin: 15px auto;
    }

    .boxs__line {
        gap: 12px;
        margin-bottom: 20px;
    }

    .boxs__box {
        width: 125px;
        height: 125px;
    }


    /*                                                        ACADEMIC*/

    .academic__title {
        padding: 0 0 0 50px;
    }

    .academic__box__item__img {
        width: 210px;
        height: 120px;
        margin: 10px 0;
    }

    .academic__box__item__img img {
        transform: scale(0.8);
    }


    /*                                                         PROYECTOS*/


    .experience__title {
        margin: 0 0 10px 10%;
    }


    .experiencie__line {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 10px;
        margin-bottom: 20px;
    }


    .experience__box {
        width: 330px;
        height: 345px;
        display: flex;
        flex-direction: column;
        background-color: var(--bk-blanco);
        box-shadow: 3px 3px 10px 2px #c6d4e7;
    }

    .experience__img {
        width: 315px;
        height: 200px;
        margin: 10px auto 8px;
        box-shadow: 0px 0px 2px 1px #c6d4e7;
    }

    .experience__info h4 {
        font-size: 2.2vw;
        white-space: pre-line;
    }

    .button__repo,
    .button__demo {
        margin: 10px 0;
        padding: 9px 39px;
    }


    /*                                                      CONTACTO*/
    .formcontacto__izquierda {
        width: 30%;
        display: flex;
        justify-content: center;
    }

    .formcontacto__img {
        min-width: 150px;
        max-width: 230px;
        height: 580px;
        max-height: 580px;
        min-height: 240px;
    }
}

.formcontacto__derecha {
    width: 70%;
}


/*                                                                  MOBILE*/
@media (max-width: 425px) {
    :root {
        --DT--width: 100%
    }

    body {
        h1 {
            font-size: 22px;
            font-weight: bold;
        }

        h4 {
            font-size: 14px;
            font-weight: bold;
        }

        h5 {
            font-size: 14px;
        }
    }


    /*                                                                  MENU*/
    .menu__list__item:nth-child(1),
    .menu__list__item:nth-child(2),
    .menu__list__item:nth-child(3),
    .menu__list__item:nth-child(4),
    .menu__list__item:nth-child(5) {
        display: none;
    }


    /*                                                                  TITLE*/
    .title_container {
        flex-direction: column-reverse;
        margin: 20px auto 10px;
    }

    .left,
    .right {
        width: 100%;
        margin: 5px 0 0;
    }

    .left {
        align-items: center;

    }

    .title__subsection {
        margin: 15px 0 50px;
    }


    .right {
        display: flex;
        justify-content: center;
    }



    /*                                                                  ABOUT*/

    .about__container {
        padding: 20px 10PX 0;

    }

    .about__paragraph {
        text-align: justify;
        font-size: 14px;
    }

    .about__signature {
        width: 60px;
        top: -15px;
        right: -85%;
    }


    /*                                                         SKILLS & hobbies*/
    .boxs {
        width: 93%;
    }

    .boxs__container{
        margin: 15px 0 0 5px;
    }

    .boxs__line {
        justify-content: unset;
        gap: 15px;
    }

    /*Experiencia Profesional*/
    .experience__info h4 {
        font-size: 3.8vw;
    }


    /*                                                                  CONTACTO*/

    .formcontacto__container {
        width: 98vw;
        margin: 0;
        gap: 0;
    }

    .formcontacto__izquierda {
        position: relative;
        left: 43%;
        width: 97%;
    }


    .formcontacto__img {
        width: 350px;
        min-width: unset;
        max-width: unset;
        min-height: unset;
        max-height: unset;
        opacity: 0.1;

    }

    .formcontacto__derecha {
        width: 97%;
        position: relative;
        left: -43%;
    }
}